.cookies-banner {
  position: fixed;
  display: flex;
  top: 0;
  color: #fff;
  padding: 10px 20px;
  background-color: #274594;
  width: 100%;
  z-index: 10;

  &.hidden {
    display: none;
  }

  .cookies-text {
    margin-bottom: 10px;
  }

  .cookies-btn {
    border: 1px solid #fff;
    padding: 5px 18px;
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}